body {
  background-color: aliceblue;
  /* margin: 40px; */
  /* padding: 40px; */
}

.fixed-bar {
  position: fixed;
  width: 250px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 4rem;
  border-color: green;
  color: green;
  font-size: 19px;
  font-family: sans-serif;
  padding: 5px;
  text-align: center;
  right: 20px;
  top: 20px;
  box-shadow: 0px 0px 10px 1px rgb(86, 86, 86);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 80%; */
  padding: 40px;
}

.para {
  font-size: 20px;
  margin: 40px;
  text-align: justify;
  color: slategray;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
  justify-content: center;
}
h2 {
  color: darkblue;
  font-size: 30px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  /* text-decoration: underline; */
  /* font-style: italic; */
  text-transform: uppercase;
}
.images-container img {
  width: 500px;
}
